<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/img/micro.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script> -->
    <!--bibliothèque TensorFlow -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands"></script> -->
    <!--modele de commandes vocales pré-entrainé -->

    <title>TranslateMe</title>
</head>

<body>

    <header>
        <img class="logo" src="/static/img/logo.png" alt="logo translateMe">
    </header>

    <div class="ctn">

        <h1>OBTENEZ UNE TRADUCTION VOCALE GRATUITE ET INSTANTANNÉE !</h1>
        <div class="divMike">
            <img src="/static/img/micro.png" alt="micro" id="micro" class="micro">
            <img src="/static/img/crossedMike.png" alt="micro barré" id="microStop" class="micro">
            <button class="gb gb2" id="translateButton">TRADUIRE</button>
            <img src="/static/img/downloadCloud.png" alt="téléchargement" id="downloadButton">
        </div>

        <div class="ctnTextArea">

            <div class="areaOfTxt">
                <h3>FRANÇAIS</h3>

                <p id="textSaid"></p>
            </div>

            <div class="areaOfTxt">

                <h3>ANGLAIS</h3>

                <p id="textTranslated"></p>
            </div>
        </div>

    </div>


    <div class="ctn-img">
        <img src="/static/img/plane.png" alt="plane" class="img2">
        <img src="/static/img/mountains.png" alt="mountains" class="img2">
        <img src="/static/img/signs.png" alt="road signs" class="img2 signs">
        <img src="/static/img/suitcase.png" alt="suitcase" class="img2 suitcase">
        <img src="/static/img/towers.png" alt="city" class="img2">
    </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/micro.js"></script>

</body>

</html>