<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/python-IA/static/css/style.css">
<!-- claire:python-IA/templates/index.html -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Playfair+Display&display=swap"
    rel="stylesheet">
  <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script> -->
  <!--bibliothèque TensorFlow -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands"></script> -->
  <!--modele de commandes vocales pré-entrainé -->
    <title>TranslateMe</title>
</head>

<body>

    <header>
      <img class="logo" src="/python-IA/static/img/logo.png" alt="logo translateMe">
 <!-- claire:python-IA/templates/index.html -->
    </header>

    <div class="ctn">

      <h1>OBTENEZ UNE TRADUCTION VOCALE GRATUITE ET INSTANTANNÉE !</h1>
      <div class="divMike">
        <img src="/python-IA/static/img/micro.png" alt="micro" id="micro" class="micro">
        <img src="/python-IA/static/img/crossedMike.png" alt="micro" id="microStop" class="micro">
<!-- claire:python-IA/templates/index.html -->
      </div>
      <div class="divMike">
        <button class="gb gb2" id="playButton">LECTURE</button>
        <button class="gb gb3" id="playButton">TRADUIRE</button>
        <button id="downloadButton" class="gb gb1">TELECHARGER</button>
      </div>
      <div class="ctn-translate">

        <select class="select 1">
          <option disabled selected>Langue source</option>
          <option value="Français">Français</option>
          <option value="Anglais">Anglais</option>
          <option value="Arabe">Arabe</option>
          <option value="Chinois">Chinois</option>
          <option value="Allemand">Allemand</option>
          <option value="Italien">Italien</option>
          <option value="Russe">Russe</option>
          <option value="Espagnole">Espagnole</option>
        </select>
        

        <select class="select">
          <option disabled selected>Langue cible</option>
          <option value="Français">Français</option>
          <option value="Anglais">Anglais</option>
          <option value="Arabe">Arabe</option>
          <option value="Chinois">Chinois</option>
          <option value="Allemand">Allemand</option>
          <option value="Italien">Italien</option>
          <option value="Russe">Russe</option>
          <option value="Espagnole">Espagnole</option>
        </select>

      </div>

      <div class="ctnTextArea">

        <div class="areaOfTxt">
          <p class="textSaid"></p>
        </div>

        <div class="areaOfTxt">
          <p class="textTranslated"></p>
        </div>
      </div>
<div class="ctn-img">
      <img src="/python-IA/static/img/man.png" alt="man" class="img2">
      </div>
    </div>

    

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
      <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
      <script src="/python-IA/static/js/micro.js"></script>
      
  </body>

</html>