* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ccdcfc;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

h1 {
  font-family: "Bitter", serif;
  color: white;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
}

.ctn {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img2 {
  width: 13%;
}

.logo {
  width: 30%;
  padding: 1%;
}

.micro {
  margin-top: 20px;
  width: 25%;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.micro:hover {
  color: #ffffff;
  background-color: #680d3b;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.divMike {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.ctnTextArea {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.areaOfTxt {
  width: 40%;
  height: 144%;
  border: 2px solid white;
  border-radius: 10px;
}

.ctn-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* z-index: -1; */
}

.ctn-translate {
  width: 30%;
  height: 100px;
  display: flex;
  font-family: "Bitter", serif;
  font-size: 12em;
  font-weight: bolder;
  color: white;
  font-size: 100%;
  justify-content: space-around;
  align-items: center;
}
.ctn-translate p {
  font-size: 1rem;
}

.gb {
  padding: 8px 20px;
  margin-right: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
  padding: 6px 20px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
}
.gb:hover {
  color: #ffffff;
  background-color: #680d3b;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.gb1 {
  background-image: linear-gradient(
    45deg,
    rgb(107, 41, 176) 0%,
    rgb(107, 41, 176) 26%,
    rgb(201, 24, 187) 26%,
    rgb(201, 24, 187) 45%,
    rgb(224, 20, 189) 45%,
    rgb(224, 20, 189) 53%,
    rgb(83, 45, 173) 53%,
    rgb(83, 45, 173) 59%,
    rgb(154, 33, 181) 59%,
    rgb(154, 33, 181) 62%,
    rgb(130, 37, 178) 62%,
    rgb(130, 37, 178) 66%,
    rgb(177, 28, 184) 66%,
    rgb(177, 28, 184) 77%,
    rgb(248, 16, 192) 77%,
    rgb(248, 16, 192) 100%
  );
}

.gb2 {
  background-image: linear-gradient(
    45deg,
    rgb(11, 45, 126) 0%,
    rgb(11, 45, 126) 44%,
    rgb(21, 87, 153) 44%,
    rgb(21, 87, 153) 45%,
    rgb(30, 129, 181) 45%,
    rgb(30, 129, 181) 61%,
    rgb(40, 170, 208) 61%,
    rgb(40, 170, 208) 67%,
    rgb(49, 212, 235) 67%,
    rgb(49, 212, 235) 100%
  );
}
