* {
  margin: 0px;
  padding: 0px;
  box-sizing:  border-box;
}

body {
  background-color: #ccdcfc;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
    width: 100%;
}

h1 {
    font-family : 'Bitter', serif;
    color : white;
    font-size : 45px;
    font-weight : lighter;
    text-align: center;
}

.ctn {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img2 {
  width: 13%;
  /* position: absolute;
  top: 40%;
  right: 5%; */
  /* z-index: -1; */
}

.logo {
  width:30%;
  padding: 1%;
}

.micro {
  margin-top: 20px;
}

.ctnTextArea {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.areaOfTxt {
  width: 40%;
  height: 144%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.ctn-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* z-index: -1; */
}

/* .ctn-arrow {
height: 55%;
width: 15%;
}

.arrow {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  width: 20px;
} */


/*.arrow .line {
  border: 2px solid white;
  border-color: transparent transparent transparent white;
  height: 184px;
  transform: rotate(90deg);
  position: absolute;
  top: 50px;
  
} */

/* .arrow .point {
  position: absolute;
  left: 102px;
  top: 163px;
} */

/* .arrow .point:before, .arrow .point:after {
  border: 1px solid white;
  height: 25px;
  content: "";
  position: absolute;
} */

/* .arrow .point:before {
  top: -25px;
  transform:rotate(-115deg);
  -webkit-transform:rotate(-132deg);
  -moz-transform:rotate(-115deg);
  -ms-transform: rotate(-115deg);
}

.arrow .point:after {
  top: -43px;
  left: 1px;
  transform:rotate(138deg);
  -webkit-transform: rotate(132deg);
  -moz-transform:rotate(138deg);
  -ms-transform: rotate(138deg);
} */

.ctn-translate {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.translate {
  font-family : 'Bitter', serif;
    color : white;
    font-size: 100%;

}

/* .arrow-down {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 20px solid white;
} */