* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ccdcfc;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

h1 {
  font-family: "Bitter", serif;
  color: white;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
}

h3 {
  /* color: white; */
  color: crimson;
  margin-bottom: 10px;
}

.ctn {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  /* margin-top: 40px; */
  width: 30%;
  /* padding: 1%; */
}

#downloadButton {
  margin-top: 20px;
  width: 8%;
  cursor: pointer;
}

.micro {
  margin-top: 20px;
  width: 7%;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.micro:hover,
#downloadButton:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
}

.divMike {
  display: flex;
  height: 80px;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

#microStop {
  display: none;
}

.ctnTextArea {
  width: 92%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.select {
  padding: 3px;
  background-color: #ccdcfc;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bitter", serif;
  font-weight: bold;
}

.areaOfTxt {
  font-family: "Bitter", serif;
  padding: 15px;
  width: 40%;
  height: 90%;
  border: 2px solid white;
  border-radius: 10px;
}

.select:focus,
.select:hover {
  outline: none;
  border: 2px solid white;
}

.ctn-img {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-end; */
  /* z-index: -1; */
}

.select option {
  background: #ccdcfc;
  color: white;
}

.img2 {
  height: 50px;
  margin: 20px;
}

.ctn-translate {
  width: 100%;
  height: 100px;
  display: flex;
  font-family: "Bitter", serif;
  font-size: 12em;
  font-weight: bolder;
  color: white;
  font-size: 100%;
  justify-content: space-around;
  align-items: center;
}

#textSaid,
#textTranslated {
  color: teal;
  text-align: justify;
  font-size: medium;
  font-weight: 700;
}

.gb {
  /* height: 55px; */
  padding: 8px 20px;
  /* margin-right: 25px; */
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
  padding: 6px 20px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  width: 170px;
}

.gb:hover {
  color: #ffffff;
  background-color: #680d3b;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}

.gb1 {
  background-image: linear-gradient(
    45deg,
    rgb(107, 41, 176) 0%,
    rgb(107, 41, 176) 26%,
    rgb(201, 24, 187) 26%,
    rgb(201, 24, 187) 45%,
    rgb(224, 20, 189) 45%,
    rgb(224, 20, 189) 53%,
    rgb(83, 45, 173) 53%,
    rgb(83, 45, 173) 59%,
    rgb(154, 33, 181) 59%,
    rgb(154, 33, 181) 62%,
    rgb(130, 37, 178) 62%,
    rgb(130, 37, 178) 66%,
    rgb(177, 28, 184) 66%,
    rgb(177, 28, 184) 77%,
    rgb(248, 16, 192) 77%,
    rgb(248, 16, 192) 100%
  );
}

.gb2 {
  background-image: linear-gradient(
    45deg,
    rgb(11, 45, 126) 0%,
    rgb(11, 45, 126) 44%,
    rgb(21, 87, 153) 44%,
    rgb(21, 87, 153) 45%,
    rgb(30, 129, 181) 45%,
    rgb(30, 129, 181) 61%,
    rgb(40, 170, 208) 61%,
    rgb(40, 170, 208) 67%,
    rgb(49, 212, 235) 67%,
    rgb(49, 212, 235) 100%
  );
}

.gb3 {
  background-image: linear-gradient(
    45deg,
    rgb(239, 7, 129) 0%,
    rgb(239, 7, 129) 6%,
    rgb(208, 10, 112) 6%,
    rgb(208, 10, 112) 25%,
    rgb(177, 13, 96) 25%,
    rgb(177, 13, 96) 40%,
    rgb(147, 16, 79) 40%,
    rgb(147, 16, 79) 45%,
    rgb(116, 19, 62) 45%,
    rgb(116, 19, 62) 53%,
    rgb(85, 22, 46) 53%,
    rgb(85, 22, 46) 66%,
    rgb(54, 25, 29) 66%,
    rgb(54, 25, 29) 100%
  );
}
/* RESPONSIVE */
/* @media(max-width:767px){}*/
/* @media(min-width:768px){}
  @media(min-width:992px){}
  @media(min-width:1200px){} */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*style petites-moyennes tablettes */
  /* body {
    background-color: lightseagreen;
  } */
  .divMike {
    width: 70%;
  }
  #downloadButton {
    width: 8%;
  }
  .micro {
    width: 7%;
  }
  .ctnTextArea {
    width: 100%;
  }
  .areaOfTxt {
    width: 40%;
  }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
  /*style petites-moyennes tablettes */
  /* body {
    background-color: lightpink;
  } */
  .areaOfTxt {
    width: 45%;
  }
  .ctn-translate {
    width: 100%;
  }
  .logo {
    width: 40%;
  }
  .micro {
    width: 11%;
  }
  #downloadButton {
    width: 12%;
  }
}

@media screen and (min-width: 425px) and (max-width: 609px) {
  /*style petites-moyennes tablettes */
  body {
    /* background-color: greenyellow; */
    height: 830px;
  }
  h1 {
    font-size: 1.4rem;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .suitcase {
    display: none;
  }
  .divMike {
    width: 359px;
  }
  .ctn-img {
    margin-top: 0px;
  }
  .ctnTextArea {
    flex-wrap: wrap;
    width: 92%;
    height: 500px;
  }
  .areaOfTxt {
    width: 75%;
    height: 45%;
  }
  .micro {
    width: 13%;
  }
  #downloadButton {
    width: 14%;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  /*style smartphones et petites tablettes en portrait*/
  body {
    /* background-color: grey; */
    height: 835px;
  }
  h1 {
    font-size: 1.4rem;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .suitcase {
    display: none;
  }
  .signs {
    display: none;
  }
  .ctn-img {
    margin-top: 0px;
  }
  .divMike {
    width: 359px;
  }
  .micro {
    width: 13%;
  }
  #downloadButton {
    width: 14%;
  }
  .ctn {
    height: 640px;
  }
  .ctnTextArea {
    flex-wrap: wrap;
    width: 92%;
    height: 500px;
  }
  .areaOfTxt {
    width: 75%;
    height: 45%;
  }
}

@media screen and (max-device-width: 320px) {
  /*style petits smartphones en voie de disparition*/
  /* body {
    background-color: indianred;
  } */
  h1 {
    font-size: 1.4rem;
  }
  .logo {
    width: 100%;
  }
  .divMike {
    width: 295px;
  }
}
